body, main, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient(to bottom, #115A97, #BC2A5E);
    color: white;
}

header {
    background-color: #BC2A5E;
    padding-top: 1%;
    text-align: center;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: white;
}

nav {
    background-color: #BC2A5E;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    width: 15%;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
    position: relative;
}

.heroImg {
    width: 100%;
    display: block;
}

.call {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    background-color: rgba(188, 42, 94, 0.85);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: inline-block;
}

h2 {
    color: #ffffff;
}

a {
    color: white;
    text-decoration: none;
    background-color: #BC2A5E;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: inline-block;
}

.weather-card {
    background-color: #7F3B72;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
}

.spotlights {
    display: flex;
    flex-direction: column;

}

.spotlight {
    background-color: #BC2A5E;
    padding: 0.5rem;
    margin: 0.3rem 20%;
    border-radius: 5px;
}

.sidebar {
    width: 90%; 
    background-color: #BC2A5E; 
    padding: 5%; 
    margin-bottom: 20px;
}

.box {
    background-color: #7F3B72; 
    padding: 15px; 
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(54, 54, 54)
}

.discover {
    text-align: center;
    color: white;
}

.discover img {
    max-width: 80%;
    max-height: 85%;
    margin: 20px;
}

footer {
    background-color: #115A97;
    padding: 1rem;
    text-align: center;
}

main.join-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
    padding: 20px; 
}

form {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 40px; 
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: inline-block; 
    color: #000;
    margin-bottom: 5px; 
    text-align: left; 
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form select,
form textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #236927;
}

form input:required,
form select:required {
    border-right: solid 6px #f00; 
}

form input:required:valid,
form select:required:valid {
    border-right: solid 6px #0f0; 
}
form select:required

.membership-benefits {
    line-height: 50rem;
    padding: 20px;
    border-radius: 5px;
    margin-top: 200px;
    width: 30%;
}

.membership-benefits h2 {
    color: #2c2c2c;
}

.thankyou {
    background-color: #7F3B72;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
}