body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #C0C5C1;
}

header {
  display: flex;
  justify-content: center;
  background-color: #6c82ca;
  color: #fff;
  align-items: center;
  padding: 20px;
}

header img {
  margin-right: 20px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

header span {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1A1423; 
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #EAF0CE;
  border: 1px solid #C0C5C1;
  width: 100%;
  margin-bottom: 20px;
}

.card h2 {
  background-color: #984447;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 10px;
}

li {
  margin-bottom: 8px;
}

footer {
  background-color: #6c82ca;
  color: #000000;
  text-align: center;
  padding: 10px;
}

#year, #lastModified {
  font-size: 0.8em;
  margin-bottom: 5px;
}
