body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #C0C5C1;
}

header {
  display: flex;
  justify-content: center;
  background-color: #031D44;
  color: #fff;
  align-items: center;
  padding: 20px;
}

header img {
  margin-right: 20px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

header span {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.dark-mode {
  background-color: #1A1423;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 1em;
  right: 1em;
}

.dark-mode:hover {
  background-color: #fff;
  color: #1A1423;
}

body.dark {
  background-color: #1A1423;
  color: #d1b894;
}

body.dark h1 {
  color: #fff; 
}

body.dark .card {
  background-color: #333; 
  border: 1px solid #555; 
}

body.dark .card h2 {
  background-color: #777; 
}

body.dark a {
  color: #fff; 
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d503e; 
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav.show-menu a {
  display: block;
}

.temple {
  position: relative;
}

.temple img {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.tName {
  color: black;
  line-height: 1em;
  font-size: small;
  font-weight: bolder;
  padding: 1.5%;
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.menu-icon {
  font-size: 1.5em;
  cursor: pointer;
  color: #fff;
  background-color: #2d503e;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.menu-icon:hover {
  background-color: #fff;
  color: #2d503e;
}

main {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #EAF0CE;
  border: 1px solid #C0C5C1;
  width: 100%;
  margin-bottom: 20px;
}

.card h2 {
  background-color: #984447;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 10px;
}

li {
  margin-bottom: 8px;
}

a {
  text-decoration: underline;
  color: #0300ca;
}

#map {
  margin: 0 2.5%;
  width: 95%;
  height: 250px;
}

footer {
  background-color: #031D44;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

#year, #lastModified {
  font-size: 0.8em;
  margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
  nav a {
    display: none;
  }
}